@import "../../assets/styles/*.css";

h1 {
  text-align: center;
}

select,
input,
button {
  border: 0;
  width: 100%;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  color: inherit;
}

form {
  div {
    margin-block: 8px 16px;
  }
  
  input::placeholder {
    color: var(--wl-gray);
    padding-left: 4px;
  }

  select {
    option {
      line-height: inherit;
    }

    &:required:invalid {
      color: var(--wl-gray);
    }
  }
}

hr {
  margin-block: 8px;
  background-color: var(--wl-white); 
  height: 1px; 
  border: 0;
}

.d-none {
  display: none;
}

.manual-input {
  margin-top: 4px;
  border: 1px solid var(--wl-gray);
  background-color: var(--wl-white);

  &:focus {
    outline: 1px solid var(--wl-orange-dark);
  }
}

.form-btn {
  background-color: var(--wl-orange);

  &:hover {
    background-color: var(--wl-orange-dark);
  }
}

.curr-btn {
  background-color: var(--wl-purple);

  &:hover {
    background-color: var(--wl-purple-dark);
  }
}