:root {
  --wl-black: #2B2C28;
  --wl-blue: #00CECB;
  --wl-gray: #DDBEA8;
  --wl-orange: #FF7F34;
  --wl-orange-dark: #F2542D;
  --wl-purple: #8E5DB6;
  --wl-purple-dark: #792EC0;
  --wl-red: #FF5E5B;
  --wl-turquoise: #49BEAA;
  --wl-yellow: #FFED66;
  --wl-white: #FFFFEA;
}

.text-black {
  color: var(--wl-black);
}